@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1;
    align-items: center;
    padding: 30px 10%;
    background-color: #f4f4f8;
    width: 100%;
    height: 15vh;
    grid-area: header;
}

#heading {
    cursor: pointer;
    font-family: "Comfortaa", cursive;
    font-size: 3vh;
    font-weight: 700;
    color: hsl(0, 0%, 0%);
    margin-right: auto;
    text-align: right;
    position: relative;
}

.logo {
    cursor: pointer;
    width: 68px;
    height: 64px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #e24e42;
}

.menu {
    display: none;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(235, 110, 128, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(235, 110, 128, 0.5);
}

@media only screen and (max-width: 1038px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: inherit;
    }
}


/*Mobile Nav*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #eb6e80;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #008f95;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-hieght: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}